@font-face {
    font-family: 'HYWenHei-55W';
    src: url("../fonst/HYWenHei-55W.ttf");
}

@font-face {
    font-family: '华文中宋';
    src: url("../fonst/华文中宋.TTF");
}

@font-face {
    font-family: 'tttgbnumber';
    src: url("../fonst/tttgbnumber.ttf");
}

body {
    background-image: url(./theme/bake-1.jpg);
    font-size: 18px;
}

.container {
    background: rgb(0, 0, 0, 0);
    margin: 1em;
    width: auto;
    padding: 1em;
    /*背景大小*/
    background-size: cover;
}

.info-box {
    /*元素所有四个边上的边距区域*/
    margin: auto;
    /*字体居中*/
    text-align: center;
    width: 500px;
    height: 100px;
}

.info-box .head-box {
    border-radius: 15px;
    padding: 10px 20px;
    position: relative;
    color: #fff;
    margin-top: 5px;
}

.info-box .head-box .title {
    font-family: tttgbnumber, serif;
    font-size: 36px;
    /* 阴影*/
    text-shadow: 0 0 1px #000, 3px 2px 3px rgba(0, 0, 0, 0.9);
}

.info-box .head-box .label {
    font-family: HYWenHei-55W, serif;
    margin-top: 5px;
    text-align: right;
    background-image: linear-gradient(to right, #ff0000, orange, yellow, green, #00ff00, blue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.cont-box {
    /*背景颜色*/
    /*background: #888888;*/
    background: rgba(255, 255, 255, 0.1);
    /*添加滤镜*/
    backdrop-filter: blur(1px);
    /*边框半径*/
    border-radius: 25px;
    /*顶部边距*/
    margin-top: 10px;
    /*下边边距*/
    margin-bottom: 20px;
    /*溢出：隐藏*/
    overflow: hidden;
    /*盒子阴影*/
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
    /*位置：相对*/
    position: relative;
    /*边框：外凸*/
    /*border-style: outset;*/
    font-family: tttgbnumber, ui-serif;
}

.cont-center {
    margin: auto;
    width: 30%;
    text-align: center;
    padding: 10px;
}

.cont-center .help-group {
    /*位置:静态*/
    position: static;
    top: -10px;
    left: -8px;
    color: #00FF00;
    text-shadow: 0 0 1px #000, 3px 2px 3px rgba(0, 0, 0, 0.9);
    border-radius: 0 0 15px 15px;
    margin-top: -10px;
    /*字体大小*/
    font-size: 18px;
    /*background: #1aa1d7;*/
    /*添加阴影*/
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 0.2);
    font-weight: bold;
    padding: 15px 15px 10px 20px;
}


.help-table {
    /*背景颜色*/
    /*background: chocolate;*/
    text-align: center;
    border-collapse: collapse;
    margin: 0;
    border-radius: 0 0 10px 10px;
    display: table;
    overflow: hidden;
    width: 100%;
    color: #fff;
    text-shadow: 0 0 1px #000, 3px 2px 3px rgba(0, 0, 0, 0.9);

}

.help-table .tr {
    display: table-row;
}

.help-table .td {
    font-size: 14px;
    display: table-cell;
    /*网格*/
    /*box-shadow: 0 0 1px 0 #888 inset;*/
    /*嵌入网格*/
    border-style: inset;
    padding: 12px 0 12px 50px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

.help-table .tr:last-child .td {
    padding-bottom: 12px;
}

.help-table .th {
    background: rgba(34, 41, 51, 0.5);
}

.help-title {
    display: block;
    color: #d3bc8e;
    text-shadow: 0 0 1px #000, 3px 2px 3px rgba(0, 0, 0, 0.9);
    font-size: 16px;
    line-height: 24px;
}

.help-desc {
    display: block;
    font-size: 13px;
    line-height: 18px;
}

.copyright {
    /*字体居中*/
    text-align: center;
}

.copyright .version {
    font-family: HYWenHei-55W, serif;
}
