@font-face {
  font-family: 'HYWH-65W';
  src: url("../../common/font/HYWH-65W.ttf");
}
body {
  background-image: url(./theme/bake-1.jpg);
  font-family: HYWH-65W, serif;
  font-size: 18px;
}
body .container {
  background: rgba(0, 0, 0, 0);
  margin: 0;
  width: auto;
  padding: 1px;
  background-size: cover;
}
body .container .info-box {
  margin: auto;
  text-align: center;
  width: auto;
  height: 100px;
}
body .container .info-box .head-box {
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
  color: #fff;
  margin-top: 5px;
}
body .container .info-box .head-box .title {
  font-size: 36px;
  text-shadow: 0 0 1px #000, 3px 2px 3px rgba(0, 0, 0, 0.9);
}
body .container .info-box .head-box .label {
  margin: 5px 50px 0 0;
  text-align: right;
  background-image: linear-gradient(to right, #ff0000, orange, yellow, green, #00ff00, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
body .container .cont-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 25px;
  margin: 10px 30px 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
body .container .cont-box .cont-center {
  margin: auto;
  width: 30%;
  text-align: center;
  padding: 10px;
}
body .container .cont-box .cont-center .help-group {
  position: static;
  color: #808080;
  top: -10px;
  left: -8px;
  text-shadow: 0 0 1px #000, 3px 2px 3px rgba(255, 255, 255, 0.9);
  border-radius: 0 0 15px 15px;
  margin-top: -10px;
  font-size: 18px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding: 15px 15px 10px 20px;
  background: wheat;
}
body .container .cont-box .help-table {
  text-align: center;
  border-collapse: collapse;
  margin: 0;
  border-radius: 0 0 10px 10px;
  display: table;
  overflow: hidden;
  width: 100%;
  color: #fff;
}
body .container .cont-box .help-table .tr {
  display: table-row;
}
body .container .cont-box .help-table .tr .td {
  font-size: 14px;
  display: table-cell;
  padding: 10px;
  position: relative;
  text-align: left;
  width: 33.33%;
}
body .container .cont-box .help-table .tr .td .th {
  overflow: hidden;
  padding: 10px;
  border-style: outset;
  border-radius: 25px;
  border-width: 2px;
  height: 50px;
  display: block;
  border-color: transparent;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  background: lightslategrey;
}
body .container .cont-box .help-table .tr .td .th .help-title {
  display: block;
  color: #d3bc8e;
  text-shadow: 0 0 1px #000, 3px 2px 3px rgba(0, 0, 0, 0.9);
  font-size: 16px;
  line-height: 24px;
}
body .container .cont-box .help-table .tr .td .th .help-desc {
  display: block;
  font-size: 13px;
  line-height: 18px;
}
body .container .copyright {
  text-align: center;
}
body .container .copyright .version {
  font-size: 18px;
}
