body {
    transform: scale(1);
    width: 830px;
    background: url("./theme/bake-1.jpg");
}

.container {
    background: url("./theme/bake-1.jpg") top left no-repeat;
    background-size: 100% auto;
    width: 830px;
}
.head-box {
    margin: 5% 0 0 0;
    padding-bottom: 0;
}

.title {
    font-size: 50px;
    color: #5dc1d9;
    text-align: center
}

.label {
    font-family: Number, "微软雅黑", sans-serif;
    text-align: center;
}

.cont-box {
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 15px;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
    position: relative;
    background: rgba(43, 52, 61, 50%);

}

.help-group {
    color: #ceb78b;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0 5px 10px;
}

.help-table {
    text-align: center;

    border-collapse: collapse;
    margin: 5px -10px -10px -15px;
    border-radius: 0 0 10px 10px;
    display: table;
    overflow: hidden;
    width: calc(100% + 30px);
}

.help-table .tr {
    display: table-row;
}

.help-table .td {
    font-size: 14px;
    display: inline-block;
    box-shadow: 0 0 1px 0 #888 inset;
    line-height: 24px;
    position: relative;
    width: 33.33%;
    text-align: center;
}

.help-table .tr:nth-child(odd) {
    background: rgba(34, 41, 51, .3)
}
.help-table .tr:last-child .td {
    padding-bottom: 12px;
}

.help-title {
    padding: 5px 0 0 50px;
    display: block;
    color: #d3bc8e;
    font-size: 16px;
    line-height: 24px;
}

.help-desc {
    padding: 0 0 5px 50px;
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #eee;
}

.bottom-box {
    text-align: center;
    /*position: relative;*/
    bottom: 10px;
    color: #5dc1d9;
}
