@font-face {
  font-family: 'HYWH-65W';
  src: url("../../common/font/HYWH-65W.ttf");
}
body {
  background-image: url(./theme/bake-1.jpg);
  font-family: HYWH-65W, serif;
  font-size: 18px;
}
body .container {
  padding: 1px;
}
body .container .info-box {
  text-align: center;
  margin-top: 20px;
}
body .container .info-box .head-box {
  color: #fff;
}
body .container .info-box .head-box .title {
  font-size: 36px;
  text-shadow: 0 0 1px #000, 3px 2px 3px rgba(0, 0, 0, 0.9);
}
body .container .info-box .head-box .label {
  margin: 5px 50px 0 0;
  text-align: right;
  background-image: linear-gradient(to right, #ff0000, orange, yellow, green, #00ff00, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
body .container .cont-box {
  border-radius: 25px;
  margin: 10px 30px 15px;
  overflow: hidden;
  backdrop-filter: blur(5px);
}
body .container .cont-box .cont-center {
  margin: auto;
  width: 30%;
  text-align: center;
}
body .container .cont-box .cont-center .help-group {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(105, 105, 105, 0.5);
  border-radius: 0 0 15px 15px;
  margin-top: -10px;
  box-shadow: inset -1px -1px 10px 0 pxrgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.9);
  border-style: inset;
  border-top: transparent;
  padding: 15px 15px 10px 20px;
}
body .container .cont-box .help-table {
  text-align: center;
  border-collapse: collapse;
  margin: 0;
  border-radius: 0 0 10px 10px;
  display: table;
  overflow: hidden;
  width: 100%;
  color: #fff;
}
body .container .cont-box .help-table .tr {
  display: table-row;
}
body .container .cont-box .help-table .tr .td {
  font-size: 14px;
  display: table-cell;
  padding: 10px;
  position: relative;
  text-align: left;
  width: 33.33%;
}
body .container .cont-box .help-table .tr .td .th {
  overflow: hidden;
  padding: 10px;
  border-style: outset;
  border-radius: 15px;
  border-width: 2px;
  height: 50px;
  display: block;
  border-color: rgba(0, 0, 0, 0.5);
  border-top: transparent;
  outline: 2px ridge rgba(0, 0, 0, 0.3);
}
body .container .cont-box .help-table .tr .td .th .help-title {
  display: block;
  color: #0000CD;
  font-size: 16px;
  line-height: 24px;
}
body .container .cont-box .help-table .tr .td .th .help-desc {
  color: #00FF00;
  display: block;
  font-size: 13px;
  line-height: 18px;
}
body .container .copyright {
  text-align: center;
}
body .container .copyright .version {
  display: inline-block;
}
