@font-face {
  font-family: 'HYWH-65W';
  src: url("../../common/font/HYWH-65W.ttf");
}

body {
  background-image: url(./theme/bake-1.jpg);
  font-family: HYWH-65W, serif;
  font-size: 18px;


  .container {
    //margin: 0;
    //width: auto;
    //padding: 1px;
    //background-size: cover;


    .info-box {
      //margin: auto;
      text-align: center;
      //width: auto;
      height: 100px;

      .head-box {
        border-radius: 15px;
        padding: 10px 20px;
        position: relative;
        color: #fff;
        margin-top: 5px;

        .title {
          font-size: 36px;
          text-shadow: 0 0 1px #000, 3px 2px 3px rgba(0, 0, 0, 0.9);
        }

        .label {
          margin: 5px 50px 0 0;
          text-align: right;
          background-image: linear-gradient(to right, #ff0000, orange, yellow, green, #00ff00, blue, purple);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }

    .cont-box {
      border-radius: 25px;
      margin: 10px 30px 15px;
      overflow: hidden;
      box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
      position: relative;
      //背景模糊
      backdrop-filter: blur(5px);

      .cont-center {
        margin: auto;
        width: 30%;
        text-align: center;
        padding: 10px;

        .help-group {
          color: #ffffff;
          text-shadow: 1px 1px 2px rgba(105, 105, 105,0.5);
          border-radius: 0 0 15px 15px;
          margin-top: -10px;
          box-shadow: 0 5px 10px 0 rgb(0 0 0 / 0.2);
          border-color: rgba(0, 0, 0, 0.9);
          border-style: inset;
          border-top: transparent;
          padding: 15px 15px 10px 20px;
        }
      }

      .help-table {
        text-align: center;
        border-collapse: collapse;
        margin: 0;
        border-radius: 0 0 10px 10px;
        display: table;
        overflow: hidden;
        width: 100%;
        color: #fff;
        .tr {
          display: table-row;

          .td {
            font-size: 14px;
            display: table-cell;
            padding: 10px;
            position: relative;
            text-align: left;
            width: 33.33%;

            .th {
              overflow: hidden;
              padding: 10px;
              border-style: outset;
              border-radius: 25px;
              border-width: 2px;
              height: 50px;
              display: block;
              //box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
              border-color: rgba(0, 0, 0, 0.5);
              border-top: transparent;
              outline: 2px ridge rgba(0, 0, 0, 0.3);
              .help-title {
                display: block;
                color: #0000CD;
                font-size: 16px;
                line-height: 24px;
              }

              .help-desc {
                color: #00FF00;
                display: block;
                font-size: 13px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }

    .copyright {
      text-align: center;

      .version {
        display: inline-block;
      }
    }
  }
}
