@font-face {
  font-family: '汉仪猫小奴体简';
  src: url("../../common/font/汉仪猫小奴体简.ttf");
}

@font-face {
  font-family: '喵小姐体';
  src: url("../../common/font/喵小姐体.ttf")
}

@font-face {
  font-family: 'Aa-海芒星体';
  src: url("../../common/font/Aa-海芒星体.ttf");
}

body {
  background-image: url(./theme/bake-1.jpg);
  font-family: '喵小姐体', sans-serif;
  font-size: 18px;
  color: #fff;

  .container {
    padding: 1px;

    .info-box {
      text-align: center;
      margin-top: 20px;

      .head-box {

        .title {
          font-family: 'Aa-海芒星体', sans-serif;
          font-size: 36px;
          text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
        }

        .label {
          //margin: 5px 50px 0 0;
          //text-align: right;
          //颜色渐变
          background: linear-gradient(to right, red, yellow, lime, aqua, blue, fuchsia) 0 / 50%;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .cont-box {
      //圆角
      border-radius: 25px;
      //四边边距
      margin: 10px 30px 15px;
      //溢出隐藏
      overflow: hidden;
      //背景模糊
      backdrop-filter: blur(3px);
      //内部阴影
      box-shadow: inset 0 0 10px #888;
      box-sizing: border-box;

      .cont-center {
        margin: auto;
        width: fit-content;
        text-align: center;

        .help-group {
          //字体阴影
          text-shadow: 2px 2px 2px rgba(105, 105, 105, 1);
          border-radius: 0 0 10px 10px;
          border-color: rgba(0, 0, 0, 0.5);
          //border: solid;
          //border-width:1px;
          //border-color:beige;
          box-shadow: inset 0 0 10px #888;
          border-top: transparent;
          padding: 5px 10px ;
        }
      }

      .help-table {
        text-align: center;
        border-collapse: collapse;
        margin: 0;
        display: table;
        overflow: hidden;
        width: 100%;

        .tr {
          display: table-row;

          .td {
            display: table-cell;
            padding: 10px;
            position: relative;
            text-align: left;
            width: 33.33%;

            .th {
              padding: 10px;
              border-radius: 15px;
              border-width: 2px;
              height: 50px;
              display: block;
              color: rgba(225,225,225,0.9);
              //outline: 0.2px ridge;
              box-shadow:inset 0 0 10px #888;

              .help-title {
                display: block;
                line-height: 24px;
              }

              .help-desc {
                color: #d4b98c;
                display: block;
                font-size: 13px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }

    .copyright {
      text-align: center;
      font-family: '汉仪猫小奴体简', sans-serif;
      //底部居中
      //position:absolute;
      //bottom: 15px;
      //margin: auto;
      //left: 0;
      //right: 0;
      .version {
        display: inline-block;
        font-family: 'Aa-海芒星体', sans-serif;
      }
    }
  }
}
