@font-face {
  font-family: '汉仪猫小奴体简';
  src: url("../../common/font/汉仪猫小奴体简.ttf");
}
@font-face {
  font-family: '喵小姐体';
  src: url("../../common/font/喵小姐体.ttf");
}
@font-face {
  font-family: 'Aa-海芒星体';
  src: url("../../common/font/Aa-海芒星体.ttf");
}
body {
  background-image: url(./theme/bake-1.jpg);
  font-family: '喵小姐体', sans-serif;
  font-size: 18px;
  color: #fff;
}
body .container {
  /** 设置宽高 **/
  position: relative;
  width: 100%;
  height: 100%;
}
body .container .info-box {
  text-align: center;
  margin-top: 20px;
}
body .container .info-box .title {
  font-family: 'Aa-海芒星体', sans-serif;
  font-size: 36px;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
}
body .container .info-box .label {
  background: linear-gradient(to right, red, yellow, lime, aqua, blue, fuchsia) 0 / 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .container .cont-box {
  /** 圆角 **/
  border-radius: 25px;
  /** 四边边距 **/
  margin: 10px 30px 15px;
  /** 溢出隐藏 **/
  overflow: hidden;
  /** 高斯模糊 **/
  /** 内部阴影 **/
  /** 设置实线边框 **/
  border-style: solid;
  /** 边框宽度 **/
  border-width: 1px;
  /** 设置怪异盒子模型 **/
  box-sizing: border-box;
}
body .container .cont-box .cont-center {
  margin: auto auto 10px;
  width: fit-content;
  text-align: center;
}
body .container .cont-box .cont-center .help-group {
  text-shadow: 2px 2px 2px #696969;
  border-radius: 0 0 10px 10px;
  /** 边框颜色 **/
  /** 内部阴影 **/
  border-top: transparent;
  padding: 5px 10px;
  /** 设置实线边框 **/
  border-style: solid;
  /** 边框宽度 **/
  border-width: 1px;
}
body .container .cont-box .help-table {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
body .container .cont-box .help-table .item {
  width: calc(33.33% - 20px);
  margin: 0 0 5px;
  padding: 10px;
}
body .container .cont-box .help-table .item .bubble {
  display: flex;
  flex-direction: column;
  padding: 1px;
  border-radius: 25px;
  box-shadow: inset 0 0 10px 0 deepskyblue;
  background: rgba(224, 255, 255, 0.2);
  align-items: flex-start;
  margin: 5px;
  height: 100%;
  /** 设置行框的高度 **/
  line-height: 25px;
  /** 高斯模糊 **/
  backdrop-filter: blur(0.5px);
}
body .container .cont-box .help-table .item .bubble .title {
  margin: 15px 15px 0;
  color: red;
  font-size: 18px;
}
body .container .cont-box .help-table .item .bubble .desc {
  color: rosybrown;
  margin: 0 15px 5px;
  font-size: 15px;
}
body .container .copyright {
  color: #f1f1f1;
  text-align: center;
  font-family: '汉仪猫小奴体简', sans-serif;
}
body .container .copyright .version {
  display: inline-block;
  font-family: 'Aa-海芒星体', sans-serif;
}
