@font-face {
  font-family: '汉仪猫小奴体简';
  src: url("../../common/font/汉仪猫小奴体简.ttf");
}
@font-face {
  font-family: '喵小姐体';
  src: url("../../common/font/喵小姐体.ttf");
}
@font-face {
  font-family: 'Aa-海芒星体';
  src: url("../../common/font/Aa-海芒星体.ttf");
}
body {
  background-image: url(./theme/bake-1.jpg);
  font-family: '喵小姐体', sans-serif;
  font-size: 18px;
  color: #fff;
  width: 1080px;
  height: 1920px;
}
body .container {
  padding: 1px;
}
body .container .info-box {
  text-align: center;
  margin-top: 20px;
}
body .container .info-box .title {
  font-family: 'Aa-海芒星体', sans-serif;
  font-size: 36px;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
}
body .container .info-box .label {
  background: linear-gradient(to right, red, yellow, lime, aqua, blue, fuchsia) 0 / 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .container .cont-box {
  border-radius: 25px;
  margin: 10px 30px 15px;
  overflow: hidden;
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 10px 2px #888;
  box-sizing: border-box;
}
body .container .cont-box .cont-center {
  margin: auto auto 10px;
  width: fit-content;
  text-align: center;
}
body .container .cont-box .cont-center .help-group {
  text-shadow: 2px 2px 2px #696969;
  border-radius: 0 0 10px 10px;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px #888;
  border-top: transparent;
  padding: 5px 10px;
}
body .container .cont-box .help-table {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0 5px 15px;
}
body .container .cont-box .help-table .item {
  width: 316px;
  height: auto;
  margin: 10px;
}
body .container .cont-box .help-table .item .bubble {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 1px;
  border-radius: 25px;
  color: rgba(225, 225, 225, 0.9);
  box-shadow: inset 0 0 10px #888;
  align-items: flex-start;
}
body .container .cont-box .help-table .item .bubble .title {
  margin: 10px 10px 0 10px;
  color: #d4b98c;
  line-height: 20px;
}
body .container .cont-box .help-table .item .bubble .desc {
  color: #999;
  margin: 10px;
}
body .container .copyright {
  color: #f1f1f1;
  text-align: center;
  font-family: '汉仪猫小奴体简', sans-serif;
}
body .container .copyright .version {
  display: inline-block;
  font-family: 'Aa-海芒星体', sans-serif;
}
