<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="#"/>
    <link rel="preload" href="{{yaya_path}}common/font/汉仪猫小奴体简.woff" as="font" type="font/woff">
    <link rel="preload" href="{{yaya_path}}common/font/喵小姐体.woff" as="font" type="font/woff">
    <link rel="preload" href="{{yaya_path}}common/font/Aa-海芒星体.woff" as="font" type="font/woff">
    <link rel="stylesheet" type="text/css" href="{{yaya_path}}html/help/index.css"/>
    <title>yaya-plugin</title>
</head>
<body>
<div class="container">
    {{block 'main'}}{{/block}}
</div>
</body>
</html>